* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    position: relative;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #222;
  width: 100%;
  height: 100vh;
//   overflow: hidden;
//   display: flex;
}

h3 {
    margin-bottom: 20px;
}

.container {
  width: 100vw;
  padding: 15px 15px;

  margin-right: auto;
  margin-left: auto;
//   height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}
#slide1, #slide3 {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
}
.start-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 0 auto;
    background-color: rgb(65, 64, 64);
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    // height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.start-container__description {
    margin: 25px 0;
}
.container.start {
display: flex;
justify-content: center;
}
.container.hidden {
    display: none;
}

.header {
  display: flex;
  flex-direction: column;
}
.header__top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url(./img/logo.png);
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.progress__bar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}
.progress__item {
  padding: 0.5rem 0.75rem;
  text-align: center;
  background-color: #008966;
  border-color: #007c5d;
  flex: auto;
}

.progress__item--active {
  background-color: #23b08d;
}

.quiz-question {
  background-color: #303030;
  display: flex;
  padding: 1rem;
  margin-bottom: 25px;
}
.quiz-question__image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
}
.quiz-question__info {
  padding-left: 1rem;
  width: 50%;
}
.quiz-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.quiz-question__audio {
}
.quiz-controls {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
}
.options {
  flex: 0 0 100%;
}
@media screen and (min-width: 992px) {
  .options {
    flex: 0 0 50%;
    padding-right: 1rem;
  }
}
.options__list {
  list-style-type: none;
}
.options__list-item {
  position: relative;
  padding: 0.85rem 2rem;
  background-color: #303030;
  border: 1px solid #555;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #444;
    border-radius: 50%;
  }
}
.options__list-item--error {
  &::before {
    background-color: rgb(252, 5, 5);
  }
}
.options__list-item--correct {
  &::before {
    background-color: rgb(74, 223, 57);
  }
}

.card {
  flex: 1;
  background-color: #303030;
  // display: flex;
  padding: 1rem;
  border: 1px solid #444;
  width: 100%;
}

.card__image {
  display: block;
  margin: 0 auto 25px;
  width: 200px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;
  // margin-right: 2rem;
  vertical-align: middle;
  border-style: none;
}
.card__title,
.card__title-latin,
.card__media {
  padding: 0.25rem;
}
.card__title {
}
.card__title-latin {
}
.card__media {
}
.card__info {
}

.btn--level {
  width: 100%;
  margin: 25px 15px;
  background-color: #303030;
  border: 1px solid #444;
  color: #fff !important;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn--start {
  width: 100%;
//   margin: 25px 15px;
background-color: #008966;
border: 1px solid #444;
  color: #fff !important;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn--active {
  background-color: #008966;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

.playback-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playback-button {
  display: flex;
  align-items: center;
  transition: 0.2s;
  width: 40px;
  height: 40px;
  border: 2px solid #00bc8c;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  & > * {
    pointer-events: none;
  }
}
.playback-button svg {
  transition: 0.2s;
  width: 18px;
  height: 18px;
  color: #54b1c1;
}
.playback-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playback-button.playback-button--playing {
  svg.playback-play {
    display: none;
  }
  svg.playback-pause {
    display: block;
  }
}
.playback-button {
  svg.playback-play {
    display: block;
  }
  svg.playback-pause {
    display: none;
  }
}

.playback-progress-container {
  margin: 0 5px;
  height: 10px;
  width: 80%;
  border-radius: 5px;
  background-color: #444;
  overflow: hidden;
}
.playback-progress {
  background-color: #008966;
  border-radius: 5px;
  height: 100%;
  // width: 50%;
}

.playback-volume {
  // display: flex;
  // margin: 0 auto;
  // border: 0.5px solid transparent;
  // background: linear-gradient(
  //     315.75deg,
  //     rgba(254, 189, 171, 0.74) 30.06%,
  //     rgba(243, 169, 248, 0.66) 50.74%,
  //     #e0d8f0 80.49%,
  //     #eaf7fe 127.9%,
  //     #eaf7fe 149.54%
  //   )
  //   border-box;
  // -webkit-mask-composite: xor;
  // // width: 390px;
  // // border-radius: 5px;
  // // height: 8px;
  // box-sizing: border-box;
}

// .range-slider {
//     // margin: 0 auto;
//     // -webkit-appearance: none !important;
//     // width: 390px;
//     height: 6px;
//     background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);

//     /* border: 0.5px solid rgba(254, 189, 171, 0.7411764706); */
//     outline: none;
//     border-radius: 5px;
//     box-sizing: border-box;
//   }




// /*generated with Input range slider CSS style generator (version 20211225)
// https://toughengineer.github.io/demo/slider-styler*/
// input[type="range"].range-slider {
//   height: 10px;
//   -webkit-appearance: none;
// //   background-color: transparent;
//   background-color: #303030;
//   box-sizing: border-box;
// }

// /*progress support*/
// input[type="range"].range-slider.slider-progress {
//   --range: calc(var(--max) - var(--min));
//   --ratio: calc((var(--value) - var(--min)) / var(--range));
//   --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
// }

// input[type="range"].range-slider:focus {
//   outline: none;
// }

// /*webkit*/
// input[type="range"].range-slider::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   width: 20px;
//   height: 20px;
//   border-radius: 1em;
//   background: #00b083;
//   border: none;
//   box-shadow: 0 0 2px black;
//   margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - 20px * 0.5);
// }

// input[type="range"].range-slider::-webkit-slider-runnable-track {
//   height: 1em;
// //   border: 1px solid #b2b2b2;
//   border-radius: 0.5em;
//   background: #efefef;
//   box-shadow: none;
// }

// input[type="range"].range-slider.slider-progress::-webkit-slider-runnable-track {
//   background: linear-gradient(to right, #008066, #008966) 0 / var(--sx) 100%
//       no-repeat,
//     #efefef;
// }

// /*mozilla*/
// input[type="range"].range-slider::-moz-range-thumb {
//   width: 20px;
//   height: 20px;
//   border-radius: 1em;
//   background: #00b083;
//   border: none;
//   box-shadow: 0 0 2px black;
// }

// input[type="range"].range-slider::-moz-range-track {
//   height: max(calc(1em - 1px - 1px), 0px);
//   border: 1px solid #b2b2b2;
//   border-radius: 0.5em;
//   background: #efefef;
//   box-shadow: none;
// }

// input[type="range"].range-slider.slider-progress::-moz-range-track {
//   background: linear-gradient(to right, #008066, #008966) 0 / var(--sx) 100%
//       no-repeat,
//     #efefef;
// }
